$clr-hot:hsl(48,100%,54%);
$clr-cool:hsl(184, 63%, 48%);
$clr-go:hsl(134, 89%, 66%);
$clr-alarm:hsl(306,80%,54.9%);
$clr-logo:hsl(199,82%,45%);
$clr-title:hsl(260,73%,54%);
$clr-buttonfont:hsl(184, 63%, 30%);
$clr-surface:hsl(0,0%,100%);